<!DOCTYPE html>
{% extends 'index.html' %}
{% block title %} Category {% endblock %}
{% block content %}

        <h1 class="title"><i class="fa-solid fa-book"></i> Best {{selected_category.category_name}}<span class="red-line"></span> </h1>

        <hr>

    
        
        
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                    {% if bookcategory %}
                    {% for book in bookcategory %}
                    <div class="col mb-4">
                        <div class="card h-100 shadow">
                            <div class="card-img-container d-flex align-items-center justify-content-center">
                                <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fs-5 text-center">{{ book.title }}</h5>
                                <p class="card-text fs-6 text-center">Author: {{ book.book_author }}</p>
                                <p class="card-text fs-6 text-center">Category: {{ book.book_category }}</p>
                                <p class="card-price fs-6 text-center">
                                    <i class="fa-sharp fa-solid fa-tags"></i> {{ book.price }}
                                </p>
                            </div>
                            <div class="card-info-overlay">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'book' book.book_id %}" class="btn btn-primary mt-3">Buy Now</a>
                            </div>
                         </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
      
        {% else %}
        <h1>{{bookcategory | length}} {{selected_category.category_name}} Books </h1>
        {% endif %}
       
 
    </div>
</div>
<hr>


{% endblock %}